@tailwind base;
@tailwind components;
@tailwind utilities;


html, body, #app{
  height: 100%;
  margin: 0;
}

.mark {
  border-radius: 3px;
  /*color: white;*/
}

.mark-0 { background-color: var(--m1); }
.mark-1 { background-color: var(--m2);}
.mark-2 { background-color: var(--m3); }
.mark-3 { background-color: var(--m4);}
.mark-4 { background-color: var(--m5);}
.mark-5 { background-color: var(--m6); }
.mark-6 { background-color: var(--m7); }
.mark-7 { background-color: var(--m8); }


.mark-active-node {
  text-decoration-line: line-through;
  text-decoration-color: rgba(198, 3, 3, 0.9);
  text-decoration-thickness: 3px;
}

.mark-spotlight {
    color: oklch(var(--bc));

}

.cm-content:has(.mark-spotlight) {
  color: var(--mc);
}

.cm-content:has(.mark-spotlight) :not(.mark-spotlight .mark) {
  /*background: none;*/
  /*border: none;*/
}


:root {
  --m1: #fff;
  --m2: #fff;
  --m3: #fff;
  --m4: #fff;
  --m5: #fff;
  --m6: #fff;
  --m7: #fff;
  --m8: #fff;

  --mc: #fff;
}

[data-theme='dracula'] {
  --m1: #1b9e77;
  --m2: #d95f02;
  --m3: #7570b3;
  --m4: #e7298a;
  --m5: #66a61e;
  --m6: #e6ab02;
  --m7: #a6761d;
  --m8: #666666;
  --mc: #4e4e4e;
}

[data-theme='lofi'] {
  --m1: #b3e2cd;
  --m2: #fdcdac;
  --m3: #cbd5e8;
  --m4: #f4cae4;
  --m5: #e6f5c9;
  --m6: #fff2ae;
  --m7: #f1e2cc;
  --m8: #cccccc;
  --mc: #cdcdcd;
}
