@tailwind base;
@tailwind components;
@tailwind utilities;


html, body, #app{
  height: 100%;
  margin: 0;
}

.mark {
  border-radius: 3px;
}

.mark-0 {
  background-color: #b3e2cd;
}

.mark-1 { background-color: #fdcdac;
}
.mark-2 { background-color: #cbd5e8 }
.mark-3 { background-color: #f4cae4
}
.mark-4 { background-color: #e6f5c9
}
.mark-5 { background-color: #fff2ae }
.mark-6 { background-color: #f1e2cc }
.mark-7 { background-color: #cccccc }


.mark-active-node {
  text-decoration-line: line-through;
  text-decoration-color: rgba(198, 3, 3, 0.9);
  text-decoration-thickness: 3px;
}

.mark-spotlight {
    color: black;
}

.cm-content:has(.mark-spotlight) {
  color: #b1b1b1;
  font-weight: 500;
  opacity: 0.75;
}

.cm-content:has(.mark-spotlight) :not(.mark-spotlight .mark) {
  /*background: none;*/
  /*border: none;*/
}

