@tailwind base;
@tailwind components;
@tailwind utilities;


html, body, #app{
  height: 100%;
  margin: 0;
}

.mark {
  border-radius: 3px;
}

.mark-0 {
  background-color: #b5fab0;
}

.mark-1 { background-color: #e9c9fb
}
.mark-2 { background-color: #c8f5ff }
.mark-3 { background-color: #9df6d1
}
.mark-4 { background-color: #efc48c
}
.mark-5 { background-color: #FF9E9E }
.mark-6 { background-color: #38C6BD }
.mark-7 { background-color: #97FFCF }
.mark-8 { background-color: #81F5FF }
.mark-9 { background-color: #FCFFB2 }
.mark-10 { background-color: #B6EAFA }
.mark-11 { background-color: #C0EEE4 }
.mark-12 { background-color: #F8F988 }
.mark-13 { background-color: #FFCAC8 }
.mark-14 { background-color: #FFFB97 }
.mark-15 { background-color: #2FE1D6 }

.mark-active-node {
  text-decoration-line: line-through;
  text-decoration-color: rgba(239, 5, 5, 0.5);
  text-decoration-thickness: 4px;
}

.mark-spotlight {
    color: black;
}

.cm-content:has(.mark-spotlight) {
  color: #b1b1b1;
  font-weight: 500;
  opacity: 0.75;
}

.cm-content:has(.mark-spotlight) :not(.mark-spotlight .mark) {
  /*background: none;*/
  /*border: none;*/
}

